<section class="container">
  <div class="about-container">
    <h1 class="about-title">About us</h1>
    <p class="about-description">
      Our team is dedicated to create the outstanding innovative solutions. We
      tightly follow the most recent trends in global IT sphere and always ready
      to develop the most ambitious solutions to accelerate your business
      performance.
    </p>
    <!-- <h2 class="about-team-title">Our team</h2>
    <div class="about-card">
      <div>
        <div class="about-card-photo">
          <img src="" alt="" width="180px" />
        </div>
      </div>
      <div class="about-card-content">
        <p class="about-card-name"></p>
        <p class="about-card-role"></p>
        <p class="about-card-description"></p>
      </div>
    </div> -->
  </div>
</section>
