<section class="container">
  <div class="about-container">
    <h1 class="about-title">About us</h1>
    <p class="about-description">
      Our team is dedicated to create the outstanding innovative solutions. We
      tightly follow the most recent trends in global IT sphere and always ready
      to develop the most ambitious solutions to accelerate your business
      performance.
    </p>
    <h2 class="about-team-title">Our team</h2>
    <div class="about-card">
      <div>
        <div class="about-card-photo">
          <img
            src="../../images/img/aboutCeo.jpg"
            alt="a man in a costume"
            width="180px"
          />
        </div>
      </div>
      <div class="about-card-content">
        <p class="about-card-name">Yevhen Kondratchuk</p>
        <p class="about-card-role">Founder</p>
        <p class="about-card-description">
          Mr. Yevhen Kondratchuk holds a specialist degree in International
          Relations and Languages from the International Institute of
          Linguistics and Law, Kyiv, Ukraine. Apart from his carrier in leading
          national Ukrainian legal companies Mr. Kondratchuk was engaged in
          pro-bono supporting activities for a new generation of Ukrainian IT
          startups by providing a formation support, an early stage business
          advice, as well as drafting of legal templates' and solving
          operational on-going legal metters. A close cooperation with IT
          talents, a high growth capacity of IT industry, its innovative nature
          and sustainable development have inspired Mr. Kondratchuk to
          accomplish a course of Project Management in IT thus shifted his
          professional interests into the innovative IT industry.
        </p>
      </div>
    </div>
  </div>
</section>
