<section class="container">
  <div class="contacts-container">
    <div class="contacts-info">
      <h1 class="contacts-title">Contact us</h1>
      <p class="contacts-name">Feraxoft GmbH</p>
      <address class="contacts-adrress">
        Kapellgasse 1<br />6004 Lucerne<br />Switzerland
      </address>
      <!-- tel hidden -->
      <a class="contacts-tel" href="tel:+111111111" hidden>+11 111 11 11</a>
    </div>
    <div class="contacts-form-container">
      <form class="contacts-form">
        <label class="contacts-label" for="name">Name</label>
        <input
          class="contacts-input"
          type="text"
          name="name"
          id="name"
          required
        />
        <label class="contacts-label" for="email">Email</label>
        <input
          class="contacts-input"
          type="email"
          name="email"
          id="email"
          required
        />
        <label class="contacts-label" for="message">Message</label>
        <textarea
          type="text"
          class="contacts-textarea"
          name="message"
          id="message"
          required
        ></textarea>
        <button class="contacts-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
