<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo-container">
      <p class="footer-logo">Feraxoft GmbH</p>
      <div class="footer-btn">
        <a href="/src/contacts.html" class="base-btn">Get in touch</a>
      </div>
    </div>
    <ul class="footer-list">
      <li class="footer-item">
        <a href="/src/privacy.html">Privacy</a>
      </li>
      <li class="footer-item">
        <a href="/src/terms.html">Terms</a>
      </li>
      <li class="footer-item">
        <a href="/src/imprint.html">Imprint</a>
      </li>
    </ul>
    <div class="footer-links-container">
      <ul class="footer-links">
        <li>
          <a href="tel:+111111111">
            <svg class="fotter-links-svg" width="36px" height="36px">
              <use href="/src/images/icons.svg#icon-phone"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="mailto:team@feraxoft.ch">
            <svg class="fotter-links-svg" width="36px" height="36px">
              <use href="/src/images/icons.svg#icon-mail"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://maps.app.goo.gl/fBdncZDroF3uShL26"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="fotter-links-svg" width="36px" height="36px">
              <use href="/src/images/icons.svg#icon-location"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div>
        <p class="footer-registration">Registration number: CHE-403.711.447</p>
        <p class="footer-copy">&copy; 2024</p>
      </div>
    </div>
  </div>
</footer>
