<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo-container">
      <div>
        <p class="footer-logo">Feraxoft GmbH</p>
        <ul class="footer-list">
          <li class="footer-item">
            <a href="/src/privacy.html">Privacy</a>
          </li>
          <li class="footer-item">
            <a href="/src/terms.html">Terms</a>
          </li>
          <li class="footer-item">
            <a href="/src/imprint.html">Imprint</a>
          </li>
        </ul>
      </div>
      <div class="footer-btn">
        <a href="/src/contacts.html" class="base-btn">Get in touch</a>
      </div>
    </div>
    <p class="footer-registration">Registration number: CHE-403.711.447</p>
    <p class="footer-copy">&copy; 2024</p>
  </div>
</footer>
