<header class="header">
  <div class="header-container">
    <a class="header-logo js-header-logo" href="/">feraxoft</a>
    <div class="header-menu-container">
      <nav class="header-nav">
        <ul class="header-list">
          <li class="header-item">
            <a href="/" class="js-home-link">Home</a>
          </li>
          <li class="header-item">
            <a href="about" class="js-about-link">About us</a>
          </li>
          <li class="header-item">
            <a href="products" class="js-products-link">Own products</a>
          </li>
          <li class="header-item">
            <a href="contacts" class="js-contacts-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header-menu-btn js-modal-open" type="button">
        <svg width="35px" height="35px">
          <use href="/src/images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
