<section class="container">
  <div class="imprint-container">
    <h1 class="imprint-title">Legal imprint</h1>
    <p class="common-text-bold mb20">Last updated: 1st of September 2024</p>
    <h2 class="common-text-blue mb20">Responsibility of this Website</h2>
    <p class="common-text-bold">Feraxoft GmbH</p>
    <adress class="common-text mb20"
      >Kapellgasse 1<br />6004 Lucerne<br />Switzerland</adress
    >
    <p class="common-text mb20">Registration number: CHE-403.711.447</p>
    <!-- tel hidden -->
    <p hidden class="common-text mb20">
      <span class="common-text-bold">Telephone: </span>+11 111 11 11
    </p>
    <p class="common-text mb20">
      <span class="common-text-bold">Email: </span>
      <a href="mailto:team@feraxoft.ch">team@feraxoft.ch</a>
    </p>
    <p class="common-text mb20">
      <span class="common-text-bold">Website: </span>www.feraxoft.ch
    </p>
  </div>
</section>
