<section class="container">
  <div class="imprint-container">
    <h1 class="imprint-title">Legal imprint</h1>
    <p class="imprint-text">Last updated: 1st of July 2024</p>
    <p class="imprint-text">Responsibility of this Website: Feraxoft GmbH</p>
    <p class="imprint-text">Registration number: CHE-403.711.447</p>
    <p hidden>Website: www.feraxoft.ch</p>
    <p class="imprint-text">Kapellgasse 1<br />6004 Lucerne<br />Switzerland</p>
    <p hidden>Telephone: +41 (0)414 45 30 08</p>
  </div>
</section>
