<div class="backdrop js-backdrop is-hidden">
  <div class="mobile-menu">
    <button class="mobile-close-btn js-modal-close" type="button">
      <svg width="35px" height="35px">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mobile-list">
        <li class="mobile-item js-home-link">
          <a href="/src/index.html">Home</a>
        </li>
        <li class="mobile-item">
          <a href="/src/about.html">About us</a>
        </li>
        <!-- <li class="mobile-item">
          <a href="products">Own products</a>
        </li> -->
        <li class="mobile-item">
          <a href="/src/contacts.html">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
