<section class="container">
  <div class="products-container">
    <h1 class="products-title">Own products</h1>
    <p class="procucts-coming">Coming soon</p>
    <p class="products-description">
      Feraxoft is an innovative company that strives to implement nowadays
      contemporary solutions into the finance sphere. We invest in creating our
      own proprietary product - banking application. Drawing on our expertise
      and market insights, this will be an innovative solution designed to help
      people with their financial decisions and giving them targeted and
      personalized advice. We apply AI to our banking app thus boosting the
      decision taking speed by customers. Our app will provide a comprehensive
      analysis of the Swiss financial market.
    </p>
  </div>
</section>
